#ignore compiled files
cmake-build-debug/

#ignore vscode stuff
.vscode/

#ignore clion stuff
.idea/

#ignore compiled stuff
./caff
./ciff
parser
converter
*.gif

#:python specific
__pycache__/
venv/
.venv/
