/* --- LAYOUT --- */
div.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

body {
	background: #F5F5F5;
	margin: 0;
}

@media screen and (max-width: 1440px){
	div.container{
		flex-direction: column;
	}
}
/* --- TYPOGRAPHY --- */
* {
	font-family: 'Poppins', 'Helvetica', sans-serif;
    color: #333;
	box-sizing: border-box;
}

h1, .display {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 16px;
}

h2, .title {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 16px;
}

h3, .menu-element {
    font-size: 20px;
    font-weight: 500;
}

.menu {
	margin-top: 48px;
}

.menu-element {
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.menu-element:hover, .menu-element:hover * {
	color:#AE956B;
	fill: #AE956B;
}

.username {
    font-size: 16px;
    font-weight: 500;
}

p, .body{
    font-size: 16px;
	margin: 0;
}

small {
    text-transform: uppercase;
    font-weight: 600;
    color: #AE956B;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

div.warning {
	padding: 20px;
	color: white;
	background: #ec695a;
	border-radius: 10px;
	text-align: center;
	margin: 20px 0px
}

div.warning p {
	color: white;
}

/* ---- COLORS --- */

/* Text color */
.primary {
    color: #AE956B
}

.text {
    color: #333333
}

.subtle {
    color: #9A9A9A
}

.border {
    color: #E9E9E9
}

.accent {
    color: #F5F5F5
}

/* Background color */

.bg-white {
    background-color: #fff
}

.bg-primary {
   background-color: #AE956B
}

.bg-text {
    background-color: #333333
}

.bg-subtle {
    background-color: #9A9A9A
}

.bg-border {
    background-color: #E9E9E9
}

.bg-accent {
    background-color: #F5F5F5
}

.bg-white {
    background-color: #fff
}

/* --- FORM ELEMENTS --- */

input {
    font-size: 16px;
    color: #333;
    border: none;
    background-color: #F5F5F5;
    padding: 10px 20px;
    border-radius: 10px;
	box-sizing: border-box;
}
input::placeholder {
    color:  #9A9A9A;
}

div.input-with-icon{
    position: relative;
}

div.input-with-icon > img.icon {
	width: 24px;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

div.input-with-icon > input {
    padding-left: 50px;
}

.btn {
    font-size: 16px;
    text-align: center;
    background: none;
    border-radius: 10px;
    padding: 6px 15px;
    border: none;
    color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: auto;
}

.btn-primary {
    background-color: #AE956B;
    color: #fff;
}

.btn-primary:hover {
    background-color: #b4a07d;
    color: #fff;
    cursor: pointer;
}

.btn-outline {
    border: 1px solid #AE956B;
    color: #AE956B;
}

.btn-outline:hover {
    border: 1px solid #cfbfa2;
    color: #cfbfa2;
    cursor: pointer;
}

.btn-small {
    color: #AE956B;
    font-weight: 500;
}

.btn-small:hover {
    color: #cfbfa2;
    cursor: pointer;
}

.action-button {
    width: 40px;
    height: 40px;
    background: #F5F5F5;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

/* --- UI Elements --- */
hr {
    border: 1px solid #E9E9E9;
}

.profile {
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AE956B;
}

.profile > img {
    width: 85%;
    height: 85%;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-large{
    height: 90px;
    width: 90px;
}

.profile-medium {
    height: 48px;
    width: 48px;
}

img.profile-small {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    width: 32px;
    height: 32px;
}

svg.icon {
    width: 24px;
    height: 24px;
}

svg.icon * {
    stroke: #333;
}

/* --- HELPERS --- */

.w-100 {
	width: 100%;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: 8px;
}

.mb-2 {
	margin-bottom: 16px;
}

.mb-3 {
	margin-bottom: 24px;
}

.mb-4 {
	margin-bottom: 32px;
}

.mt-0 {
	margin-top: 0;
}

.mt-1 {
	margin-top: 8px;
}

.mt-2 {
	margin-top: 16px;
}

.mt-3 {
	margin-top: 16px;
}

/* --- LEGACY --- */

.photoGrid {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;

}


.figure {
    flex-basis: calc(33.333% - 4rem);
    border: 1px solid #d3d3d3;
    padding: 2rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;

}

.figure .single-photo {
	flex-basis: calc(33.333% - 4rem);
	flex-grow: 1;
	flex-shrink: 0;
	margin: 0 2rem 2rem 2rem;
	padding: 2rem;
	border: 1px solid #d3d3d3;
	background: #fff;
	position: relative;
}


.single-photo {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	background: #fff;
	border: black;
}


.single-photo .figure {
	box-shadow: none;
	margin: 0 2rem 0 0;
	border: 0;
	padding: 0;
	flex: 1 0 60%;
	max-width: 60%;
}

.single-photo .comments {
	flex: 1 0 40%;
	max-width: 40%;
}

.single-photo .photo {
	width: 100%;
	margin: 0;
}

.photo {
	width: calc(100% + 4rem);
	margin-left: -2rem;
	margin-top: -2rem;
	max-width: none;
}



.comment-form input,
.comment-form textarea {
	width: 100%;
	border: 0;
	font-size: 1.3rem;
	padding: 1rem 0;
	border-bottom: 1px solid #d3d3d3;
	outline: none;
	resize: vertical;
}



.addIcon {
	background: url("../assets/upload-icon.png") center no-repeat;
	background-size: contain;
	padding: 40px;
	display: table;
	margin: 20px auto;
	border: none;
}


.button-container {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}


button, .button {
	border: 2px solid #f2f2f2;
	background: none;
	flex-basis: 48%;
	display: inline-block;
	line-height: 2;
	text-decoration: none;
	padding: 5px;
	text-align: center;
	font-size: 15px;
	color: red;
	box-sizing: padding-box;
	
}

button:hover,.button:hover, button:focus, .button:focus {
	border-color: #00f;
	outline: 0;
}

.speech-bubble {
	background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/51904-200.png") center no-repeat;
	background-size: contain;
	padding: 10px;
	margin: 5px;
	display: inline-block;
	border: none;
	position: relative;
}


.comment-count {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black
}

.form  {
	width: 360px;
	padding: 0 0 0;
	margin: auto;
}
  
.form input {
	font-family: sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
  }


.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background:#065784;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }

  .form button:hover,.form button:active,.form button:focus {
	background: #7B8589;
}

.loader {
	height: 20%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	font-size: 28pt;
}